.milkdown {
  flex: 1;
}

.editor {
  height: 100%;
  outline: none;

  padding: 1.25rem;

  padding-top: 0rem;
  padding-bottom: 2rem;
}

.milkdown .editor {
  font-size: 14px;
  font-family: var(--font-editor);
  line-height: var(--text-sm--line-height);
  letter-spacing: var(--tracking-wide);

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    overflow-wrap: anywhere;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1.7em;
  }

  & ol {
    list-style-type: decimal;
    padding-left: 2.5em;
  }

  & li {
    overflow-wrap: anywhere;
  }

  & hr {
    margin: 0.8rem 0rem;
  }
}
