.milkdown {
  flex: 1;
}

.editor {
  height: 100%;
  outline: none;

  padding: 1.25rem;

  padding-top: 0rem;
  padding-bottom: 2rem;
}

.milkdown .editor {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);

  & h1 {
    font-weight: bold;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  & ol {
    list-style-type: decimal;
    padding-left: 2.2rem;
  }

  & hr {
    margin: 0.8rem 0rem;
  }
}
