.milkdown {
    flex: 1;
}

.editor {
    height: 100%;
    outline: none;

    padding-bottom: 2rem;
}

.milkdown .editor {
    /*font-family: "Office Times";*/
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);

    & h1 {
        /*font-size: 1.2rem;*/
        font-weight: bold;
    }

    & ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }

    & ol {
        list-style-type: decimal;
        padding-left: 2.2rem;
    }
}
